/Book/Book1/Ch1_Pg4_Wakeup/nbproject/private/
/Book/Book1/Ch1_Pg10_Age/nbproject/private/
/Book/Book1/Ch1_Pg14_A/nbproject/private/
/Book/Book1/Ch1_Pg14_B/nbproject/private/
/Book/Book1/Ch1_Pg19_Scoops/nbproject/private/
/Book/Book1/Ch1_Pg22-23_Scoops2/nbproject/private/
/Book/Book1/Ch1_Pg24_Birthday/nbproject/private/
/Book/Book1/Ch1_Pg29_Bottles/nbproject/private/
/Hmwk/Assignment1/nbproject/private/
/Hmwk/Assignment2/Assignment2/nbproject/private/